@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";
#root {
    height: 100%;
    width: 100%;
    display: flex;
}

body {
    background-color: $neutral-2;
}

.page-content {
    background-color: $neutral-0;
}